@model IEnumerable<Daothithuylinhproject2_2210900036.Models.SANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/DTLinhAdmin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongTonKho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DANHMUC.TenDM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongTonKho)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Anh))
            {
                <img src="@Url.Content(item.Anh)" alt="@item.TenSP" style="width: 100px; height: 100px;" />
            }
            else
            {
                <span>Chưa có ảnh</span>
            }
            @Html.DisplayFor(modelItem => item.DANHMUC.TenDM)
        </td>
        <td>

            @Html.ActionLink("Mua", "AddToCart", "Cart", new { maSP = item.MaSP, tenSP = item.TenSP, maDM = item.MaDM, giaBan = item.GiaBan, soLuongTonKho = item.SoLuongTonKho, anh = item.Anh, soLuong = 1 }, null)
        </td>
    </tr>
}

</table>
